<!doctype html>
<html lang="ru">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body style="margin:auto; width: 1000px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button type="button" class="btn btn-primary">+Add </button>
    </nav>
    <div id="app4" style="margin:auto;" >
        <productmodal v-bind:productmodalobj="currentproduct"></productmodal>
        <div class="list d-flex flex-row flex-wrap">
            <productvue v-on:deleteclicked="onclickdelete" v-for="product in currPage.data" v-bind:key="product.id" v-bind:productobj="product"
                inline-template>
                <div class="productvue-container">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body" style="height: 200px;">
                                <button type="button " class="btn btn-danger" v-on:click="DeleteButton()"
                                    style="position: absolute; bottom: 0; right: 200px;">Delete</button>

                                <button type="button " class="btn btn-success" v-on:click="onclickbutton" data-toggle="modal" data-target="#exampleModal"
                                    style="position: absolute; bottom: 0; right: 0;">Edit</button>
                                    <button type="button " class="btn btn-success" v-on:click="alertName()"
                                    style="position: absolute; bottom: 0; right: 100px;">INFO</button>
                                <h5 class="card-name">{{productobj.name}}</h1>
                                    {{productobj.category.name}}
                                    <h4 class="card-cost">{{productobj.cost}}</h2>
                            </div>
                        </div>
                </div>
            </productvue>
        </div>
        
        <div class="paging d-flex flex-row flex-wrap justify-content-center" data-toggle="buttons" style="margin:auto">
            <div class="pagingButtons" v-for="n in pageCount">
                <button type="button" class="btn btn-primary" input type="radio" v-on:click="setPage(n)">{{n}}</button>
            </div>
            <div class="currentPage">{{n}} </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>